:root {
    --primary-color: #963B68;
    --secondary-color: #99C278;
    --tertiary-color: #A2C784;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--tertiary-color);
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  /* HEADER / NAVBAR STYLES END */
  
  a {
    text-decoration: none;
  }
  /* STYLE ALL SECTION TAGS */
  section {
    padding-left: 60px;
  }
  
  /* HERO STYLES START */
  .hero {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background-position: center;
    align-items: flex-start;
    height: 400px;
  }
  
  .hero-cta {
    width: 100%;
    text-align: right;
    margin: 2%;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .hero-cta h2 {
    font-style: italic;
    font-size: 32px;
    color: var(--primary-color);
  }
  /* HERO STYLES END */
  
  
  /* SECTION TITLE STYLES START */
  .section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /* SECTION TITLE STYLES END */
  
  /* ABOUT ME STYLES */
  .intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }
  /* ABOUT ME STYLES END */
  
  
  /* MY WORK STYLES START */
  .services { 
    background: var(--primary-color);
    width: 70%;
    background-position: center;
    margin: 40px auto 40px auto;
  }
  
  .service {
    margin: 50px, auto;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .service:last-child {
    border-bottom: none;
  }
  
  .service h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
  }
  
  .service-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .service-img {
    flex: 1 12%;
    margin-right: 20px;
  }
  
  .service-img img {
    max-width: 80%;
  }
  
  .service-text {
    flex: 12;
  }
  
  .service-text p {
    color: var(--tertiary-color);
    font-size: 18px;
  }
  
  .service-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
  }
  /* MY WORK STYLES END */
  
  /* PORTFOLIO START */
  .portfolios {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .portfolio {
    margin: 20px;
    flex: 1;
    background: var(--primary-color);
    color: var(--secondary-color);
  }
  
  .portfolio img {
    width: 100%;
  }
  
  .portfolio-description {
    padding: 25px;
    line-height: 1.3;
  }
  
  .portfolio-description h3 {
    font-size: 28px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .portfolio-description h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .portfolio-description p {
    font-size: 17px;
  }
  /* PORTFOLIO STYLES END */
  
  /* REACH OUT STYLES START */
  .contact {
    background: var(--secondary-color);
  }
  
  .contact h2 {
    color: var(--primary-color);
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-info > * {
    flex: 1;
    margin: 15px;
  }
  
  .contact-info iframe {
    height: 400px;
  }
  
  .contact-info div {
    color: #000;
  }
  
  .contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
  }
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }
  
  .contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  
  .contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
  }
  
  .contact-info a {
    color: var(--primary-color);
  }
  .reach-out-form {
    border: 3px solid var(--primary-color);
    background-color: #fff;
    padding: 20px;
    color: var(--secondary-color);
    width: 40%;
    margin: 3.5%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .reach-out-form button:hover {
    background-color: var(--tertiary-color);  
  }
  
  .reach-out-form h3 {
    font-size: 24px;
    margin: 0;
  }
  .reach-out-form p {
    margin: 5px 0 15px 0;
  }
  
  .form-input {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px; 
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }
  
  .form-input:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  
  .reach-out-form label {
    margin: 0 5px;
  }
  
  .reach-out-form button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
  } 
  
  .checkbox-wrapper input, .radio-wrapper input {
    opacity: 0;
  }
  
  .checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
  }
  
  .checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.75);  
    border: 1px solid var(--secondary-color);  
    position: absolute;
    top: -4px;
    left: -30px;
  }
  
  .radio-wrapper label::before {
    border-radius: 50%;
  }
  
  .radio-wrapper label::after {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));
  }
  
  .checkbox-wrapper label::after {
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
  }
  
  .checkbox-wrapper input + label::after, 
  .radio-wrapper input + label::after {
    content: none;
  }
  
  .checkbox-wrapper input:checked + label::after, 
  .radio-wrapper input:checked + label::after {
    content: ""; }
  }
  
    /* FOOTER STYLES START */
footer {
  background: var(--primary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
 /* REACH OUT STYLES END */

footer h2 {
  color: var(--primary-color);
  font-size: 20px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--secondary-color);
}
/* END FOOTER STYLES */
 




  
  /* UTILITIES */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .reach-out-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .portfolio {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .service h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .service-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .service-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .service-text {
      flex: 100%;  
    }
  
    .portfolio-description h3, .portfolio-description h4 {
      display: block;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .reach-out-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .portfolio {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
    